body{
    font-family: Urbanist, sans-serif;
    /*font-size: .85rem;*/
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    
    top: 100px; /* Điều chỉnh đúng khoảng cách từ đầu trang */
    left: 0;
    width: 100%;
}

/*Mega Menu*/
.scroll-container {
    width: 90%;
    max-width: 1200px;
    height: 450px; /* Chiều cao cố định cho khung */
    margin: 0 auto;
    overflow-y: scroll; /* Cho phép cuộn theo chiều dọc */
    background-color: #2f333a;
    
    padding: 20px 0;
    scrollbar-width: none; /* Ẩn scrollbar cho Firefox */
    -ms-overflow-style: none; /* Ẩn scrollbar cho IE/Edge */
    overflow-y: scroll; /* Kích hoạt cuộn dọc */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 cột */
    gap: 20px; /* Khoảng cách giữa các button */
    justify-items: center; /* Căn giữa các phần tử theo chiều ngang */
    flex-wrap: wrap;
}

.image-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease;
    cursor: pointer;
    
}

.image-button:hover {
    transform: translateY(-3px);
}

.image-button img {
    width: 130px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.scroll-text {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    opacity: 0.7;
}
.scroll-container::-webkit-scrollbar {
    display: none; /* Ẩn scrollbar cho Chrome, Safari */
}



.dropdown-content {
    margin-top: 0.1%;
    padding: 0px 10px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%; 
    transition: transform 0.3s ease, color 0.3s ease;
    transform: translateX(10px);
}
.dropdown-content:hover {
    transform: translateY(0px);
}
.dropdown-content a{
    color: #605dba;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
    
}

.menu-2 {
    display: block; /* Không dùng display: none để tránh mất hiệu ứng */
    opacity: 0;
    visibility: hidden; /* Ẩn ban đầu */
    position: absolute;
    left: 100%; /* Hiện bên phải */
    top: 0; /* Căn theo chiều dọc */
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    transform: translateX(10px); /* Trượt sang phải */
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.submenu2:hover .menu-2 {
    opacity: 1; /* Hiện menu */
    visibility: visible; /* Cho phép tương tác */
    transform: translateX(0); /* Trả về vị trí gốc */
}

.project-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
}

.project-item {
    padding: 0 10px;
    text-align: center;
    border-right: 1px solid #9c9c9c;
}

.project-item:last-child {
    border-right: none; 
}

.project-item h1 {
    font-weight: bold;
    color: #7a67ee;
    padding-bottom: 20px;
    
}

.project-list1 {
    margin-right: 50px;
}

.project-list2 {
    margin-right: 10px;
}

.mega-menu {
    top: 30px;
    padding: 40px ;
    margin: 1.8rem 0;
    display: none;
    position: absolute;
    background-color: #2f333a;
    left: 20%;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%; 
    transition: transform 0.3s ease, color 0.3s ease;
    width: 1000px;
}
.mega-menu:hover {
    transform: translateY(0px);
}
.dropdown-menu:hover .mega-menu {
    display: block;
}

.menu-list {
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
    background-color: #2f333a;
    /*background-color: #b8bcc2;*/
    
}

.menu-item {
    text-align: center;
    color: #fff;
    
    padding: 10px;
    background-color: #2f333a;
    cursor: pointer; /* Đổi chuột thành bàn tay */
}

.image-content {
    width: 120px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.image-content img {
    max-width: 90px; /* Giới hạn kích thước ảnh */
    height: auto; /* Đảm bảo giữ nguyên tỉ lệ */
    object-fit: contain; /* Đảm bảo ảnh không bị méo */
}

.image-content:hover {
    background: #3d424b;
}

.menu-item p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    text-align: left;
    width: 150px;
}

.alt-content {
    top: 30px;
    padding: 40px;
    margin: 1.8rem 0;
    display: none;
    position: absolute;
    background-color: white;
    left: 10%;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%; 
    transition: transform 0.3s ease, color 0.3s ease;
    max-width: 1800px;
    width: auto;
    padding-right: 8%;
}

.dropdown-alt:hover .alt-content {
    display: block;
}

.document-content {
    display: flex;
    justify-content: space-between;
}

.first {
    display: flex;
    flex-direction: column; /* Xếp theo chiều dọc */
    gap: 30px; /* Khoảng cách giữa các khối */
    width: 500px;
}

.second {
    display: flex;
    margin-left: 20px;
    gap: 30px; /* Khoảng cách giữa các khối */
    width: 500px;
}

.document-list {
    /*display: flex;
    flex-direction: column;*/
    margin-bottom: 30px;
}

.document-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia thành 2 cột bằng nhau */
    gap: 5px 5px; /* Tạo khoảng cách giữa các mục */
}

.document-grid2 {
    display: grid;
    grid-auto-flow: column; /* Xếp theo cột (dọc xuống trước) */
    grid-template-rows: repeat(9, auto); /* Sau 10 hàng sẽ chuyển sang cột mới */
    gap: 5px 5px; /* Tạo khoảng cách giữa các phần tử */
    max-width: 400px; /* Giới hạn chiều rộng của khung */
}

.document-title {
    font-size: 14px;
    color: #6A5ACD; /* Màu tím */
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.document-item {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.3s;
    gap: 10%;
    width: 200px;
}

.document-item:hover {
    color: #6A5ACD; /* Đổi màu khi hover */
}

.divider {
    width: 1px;
    background: #ddd;
}

.navbar.scrolled {
    position: fixed;
    top: 0;
    background: white;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

.brand{
    flex: 1; /* Tự động giãn ra */
    max-width: 300px; /* Giới hạn chiều rộng */
    padding: 0 50px;
    
}

.navbar .brand {
    font-size: 24px;
    font-weight: bold;
}
.brand img{
    width: 150px; /* Chỉnh kích thước nhỏ lại */
    height: auto; /* Giữ nguyên tỉ lệ */
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Mặc định khoảng cách giữa các liên kết */
}

/* Khi màn hình nhỏ hơn hoặc bằng 900px, giảm khoảng cách */
@media (max-width: 991.20px) {
    .nav-links {
        gap: 10px; /* Thu hẹp khoảng cách */
    }
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding-right: .6rem;
    padding-left: .6rem;
    font-size: 1rem;
    flex: 1 1 auto; /* Các liên kết tự co giãn theo kích thước màn hình */
    position: relative;
    text-align: center;
}

.nav-links a:hover {
    color: #605dba;
}

.icon {
    display: flex;
    gap: 2px;
    padding-left: 30px;
    
}

.icon i{
    color: #333;
    width: 50;
    height: 50;
    justify-content: flex-end !important;
}
.icon a {
    color: #2c3e50;
    font-size: 18px;
    margin-left: 15px;
    
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon a:hover {
    color: #1a73e8;
    transform: translateY(-3px); /* Nhấc icon lên */
}

/* Hiện nút menu trên mobile */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding-left: 10px;
}
.menu-toggle :hover{
    color: inherit;
}

/* Menu ẩn bên trái */
.mobile-menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 250px;
    height: 100%;
    background: #1a1a1a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: left 0.4s ease;
    z-index: 2;

    max-height: 150vh;
    overflow-y: scroll; 
    scrollbar-width: none;
}

.mobile-menu::-webkit-scrollbar {
    width: 8px; /* Độ rộng thanh cuộn */
}

.mobile-menu::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu thanh cuộn */
    border-radius: 10px; /* Bo góc thanh cuộn */
}

.mobile-menu::-webkit-scrollbar-thumb:hover {
    background: #555; /* Màu khi hover */
}

.mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
    transition: color 0.3s ease;
}

.mobile-menu a:hover {
    color: #605dba;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Nền mờ */
    backdrop-filter: blur(5px);     /* Làm mờ nội dung phía sau */
    opacity: 0;                     /* Ẩn mặc định */
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 1;                     /* Dưới menu */
}

/* Hiển thị overlay khi menu mở */
.background.active {
    opacity: 1;
    visibility: visible;
}

.header {
    display: flex;                  /* Sắp xếp ngang */
    align-items: center;             /* Căn giữa theo chiều dọc */
    justify-content: space-between;  /* Đẩy các phần tử ra 2 đầu */
                  /* Tăng khoảng cách đều nhau */
    text-align: left;
    gap: 20px;    
}

.close-btn {
    font-size: 24px;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    top: 10%;
}

/*các phần tử con cho mobile*/
/* Container chính */
.menu-item, .submenu-item {
    display: flex; /* Sắp xếp ngang */
    flex-direction: column; /* Chuyển sang dọc */
    align-items: flex-start; /* Căn trái */
    background-color: #1a1a1a;
}

/* Căn ngang link và mũi tên */
.toggle-dropdown {
    display: flex; 
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-between; /* Cách đều text và mũi tên */
    width: 200px; /* Đảm bảo chiếm hết chiều ngang */
    text-decoration: none; 
    color: white; 
    padding: 8px 0; 
    font-size: 18px;
    box-sizing: border-box;
}



/* Tạo khoảng cách cho mũi tên */
.arrow {
    margin-left: 8px; 
    font-size: 14px;
}

/* Hiệu ứng hover */
.toggle-dropdown:hover {
    color: #605dba;
}

/* Ẩn submenu mặc định */
.submenu, .sub-submenu {
    display: none; 
    width: 200px;
    padding-left: 20px; /* Thụt vào cho submenu */
    flex-direction: column; /* Hiện các phần tử con dọc */
}

/* Hiện submenu khi có class 'open' */
.menu-item.open > .submenu,
.submenu-item.open > .sub-submenu {
    display: flex; 
}

/* Các link con */
.submenu a, .sub-submenu a {
    color: white;
    text-decoration: none; 
    padding: 4px 0; 
    font-size: 16px;
}

.sub-submenu a {
    padding-left: 10px; /* Tăng độ thụt cho cấp con */
}


/* Footer của menu mobile */
.mobile-footer {
    margin-top: 200px;
    color: white;
    text-align: center;
}

.mobile-footer p{
    font-family: Urbanist, sans-serif;
    font-size: .85rem;
}

.mobile-icons a {
    color: white;
    font-size: 20px;
    margin: 5px;
    display: inline-block;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.mobile-icons a:hover{
    transform: translateY(-3px); /* Nhấc icon lên */
}

/* Hiển thị menu trên mobile */
@media (max-width: 991.20px) {
    .nav-links {
        display: none;
    }
    .menu-toggle {
        display: block;
    }
}

/* Định dạng phần section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 30px;
    background: linear-gradient(to right, #e5eaff, #ffd1dc);
    height: 90vh;
    border-radius: 1%;
    box-sizing: border-box;

    width: 100%; /* Chiếm 80% màn hình, giữ khoảng trống hai bên */
    max-width: 1480px; /* Không quá rộng */
    /*margin: 0 auto; /* Căn giữa */

    min-height: 50vh; /* Đảm bảo khung không quá nhỏ */
    margin: 6vh auto; /* Căn giữa theo chiều ngang và tạo khoảng cách trên/dưới */
    transition: all 0.3s ease-in-out; /* Hiệu ứng mượt khi thay đổi kích thước */
}

/* Định dạng phần nội dung bên trái */
.hero-content {
    max-width: 60%;
    margin-left: 30px;
}

.hero-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.hero-content .highlight {
    color: #ff477e; /* Màu hồng nổi bật */
}

.hero-content p {
    font-size: 1.4rem;
    color: #555;
    margin: 15px 0;
    
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff477e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff477e;
    /*transform: scale(1.05);*/
    box-shadow: #333;
    transform: translateY(-3px);
}

/* Định dạng phần hình ảnh bên phải */
.hero-image {
    max-width: 50%;
    text-align: right;
    height: 600px;
    margin-right: 10%;
}

.hero-image img {
    width: auto;
    max-width: 700px;
    transition: 0.3s;
    object-fit: cover;
}

/* RESPONSIVE - Khi màn hình nhỏ hơn 900px */
@media screen and (max-width: 991.20px) {
    .hero {
        flex-direction: column; /* Xếp dọc khi màn hình nhỏ */
        text-align: center; /* Canh giữa nội dung */
        padding: 10vw 5vw; /* Tăng padding để phù hợp */
        width: 95%; /* Tăng chiều rộng để hiển thị tốt hơn */
        height: 110vh;
    }

    .hero-content {
        max-width: 100%;
        height: 300px;
        
    }

    .hero-image {
        max-width: 100%;
        text-align: center;
        margin-top: 30px;
        max-height: 100%;
        height: auto;
        object-fit: cover;
    }

    .hero-image img {
        width: auto; /* Phóng to hình ảnh khi thu nhỏ màn hình */
        max-width: 500px;
        max-height: 500px;
        height: auto;
        object-fit: cover
    }

}


@media screen and (max-width: 991.20px) {
    .feature-box{
        padding: 10%;
    }
    .features-container{
        gap: 10%;
    }
}

.features-section {
    text-align: center;
    padding: 50px 20px;
    margin: auto;
    max-width: 1480px;
}
.features-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: normal;
}
.features-section p {
    color: #ff4081;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}
.features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}
.feature-box {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.feature-box img {
    width: 40px;
    height: 40px;
}
.feature-text {
    text-align: left;
}
.feature-text h3 {
    margin: 0;
    font-size: 20px;
    
}
.feature-text p {
    color: #666;
    font-size: 16px;
    font-weight: normal;
    text-transform: lowercase;
}

/**/
.feature-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}

.feature-image img {
    width: 100%;
    max-width: 500px;
}

.feature-content {
    max-width: 600px;
    text-align: left;
}

.subheading {
    color: #ff4081;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.title {
    font-size: 32px;
    font-weight: normal;
    color: #333;
}

.description {
    font-size: 16px;
    color: #555;
    margin: 15px 0;
}

.feature-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.feature-image img{
    width: auto;
    max-width: 500px;
    transition: 0.3s;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .feature-list {
        grid-template-columns: 1fr; /* Chuyển thành 1 cột khi thu nhỏ */
    }
}

@media screen and (max-width: 991.20px) {
    .feature-image img {
        max-width: 500px;
        width: auto;
        text-align: center;
        margin-bottom: 20px;
        order: -1;
    }
    .feature-section{
        flex-direction: column; /* Xếp dọc khi màn hình nhỏ */
    }
    
}
/*
@media (max-width: 1010px) {
    .feature-section {
        flex-direction: column; /* Chuyển layout thành dọc*
        text-align: center;
    }

    .feature-content {
        order: 1; /* Nội dung nằm trên *
        text-align: center;
    }

    .feature-image {
        order: 2; /* Hình nằm dưới *
        width: 100%; /* Giữ nguyên kích thước *
        max-width: 500px; /* Đảm bảo không bị thu nhỏ *
    }
}*/

.feature-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #444;
}

.icons {
    background-color: #e0e0e0;
    color: #555;
    font-size: 14px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

@media screen and (max-width: 991.20px){
    
    .container{
        flex-direction: column;
        padding: 20px;
    }
    .image-section img{
        order: 1;
        max-width: 1500px; 
        width: 100%; /* FIX: Đảm bảo ảnh không bị nhỏ */
        height: auto;
        object-fit: contain; /* FIX: Hiển thị đủ nội dung */
    }
    .image-section{
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .text-content{
        order: 2;
        align-items: center;
        max-width: 500px;
        width: auto;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 50px auto;
    gap: 10%;
    padding: 200px 200px;
}

.text-content {
    width: auto;
    max-width: 1500px;
}
.text-content h3 {
    color: #ff4081;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.text-content h2 {
    font-size: 32px;
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
    
}
.text-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    width: 500px;
    
}
.text-content ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}
.text-content ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #444;
    margin-top: 10px;
    
}
.text-content ul li::before {
    content: "✔";
    color: #7a67ee;
    background-color: #e0e0e0;
    border-radius: 20px;
    width: 25px;
    text-align: center;
}
.image-section {
    width: auto;
    max-width: 1200px;
    object-fit: cover;
    position: relative;
}
.image-section img {
    width: 150%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
}
.info-box {
    position: absolute;
    background: white;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 180px;
    display: flex;
    align-items: center;
    gap: 10px;
    left: -50px; /* Giảm khoảng cách so với ảnh */
    transform: translateY(-50%);
}

.info-box:not(:last-child) {
    margin-bottom: 20px; /* Tạo khoảng cách giữa các box */
}

.info-box img {
    width: 40px;
    height: 40px;
}
.info-box p {
    font-size: 14px;
    margin: 0;
    color: #333;
}
.info-box .big-text {
    font-size: 18px;
    font-weight: bold;
}
.info1 {
    top: 35%; /* Điều chỉnh vị trí */
    width: 240px;
}
.info2 {
    top: 65%; /* Đẩy xuống xa hơn */
    width: 240px;
}



/**/
.chart-container {
    position: relative;
    width: 190px;
    height: 100px;
}
.chart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}
.chart-subtext {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #666;
    margin-top: 25px;
}

/**/
@media screen and (max-width: 991.20px){
    .achievement-content{
        display: block !important;

    }
    .achievement-text {
        text-align: center;
        margin-left: 30%;
        order: 1;
    }
    .stats-container{
        order: 2;
    }
    .testimonial {
        max-width: 1000px;
    }
}

.achievement-section {
    background: linear-gradient(90deg, #e3e5f3, #fbe3f3);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 30px;
    margin: 5vh auto;
    max-width: 1480px;
}

.achievement-content{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 50px auto;
    gap: 20%;
}

.achievement-text h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}

.achievement-text p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}

.stats-container {
    display: flex;
    justify-content: center; /* Căn giữa số liệu */
    gap: 10%; /* Khoảng cách giữa các stat-box */
    margin-top: 20px;
    
}

.stat-box {
    text-align: center;
    width: 180px; /* Điều chỉnh độ rộng phù hợp */
    
}

.stat-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.stat-box h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
}

.stat-box p {
    font-size: 14px;
    color: #666;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden;
    text-overflow: ellipsis; /* Nếu quá dài, hiển thị dấu "..." */
}

.testimonials-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 80px; /* Đẩy xuống xa hơn */
    margin-bottom: -80px;
}

.testimonial {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 270px;
    text-align: left;
    border-bottom: 5px solid #cfceea !important; /* Chỉ có viền ở đáy */
}

.testimonial p {
    font-size: 18px;
    color: #333;
}

.testimonial h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.testimonial span {
    font-size: 12px;
    color: #666;
}
.testimonial h1{
    background-color: #605dba;
}


/**/
.case-studies {
    text-align: center;
    padding: 50px 20px;
    margin: auto;
    max-width: 1400px;
}

.case-studies h5 {
    color: #ff6f9c;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.case-studies h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}


.swiper-container {
    position: relative; /* Giữ pagination trong slider */
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

@media screen and (max-width:991.20px) {
    .swiper-container {
        margin-left: 5%;
    }
}

.swiper-wrapper {
    margin-bottom: 30px;
}
.swiper-slide {
    /*display: flex;*/
    justify-content: center;
    gap: 10%;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    
}
.project-card {
    width: 350px; /* Giảm kích thước thẻ card */
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
/*
.project-card:hover {
    transform: scale(1.05);
}*/
.image-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ngăn hình bị tràn ra ngoài */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .overlay {
    opacity: 1;
}

.project-card a{
    text-decoration: none;
    color: #333;
}
.project-card a:hover{
    color: #605dba;
}
.project-card h3 {
    font-size: 18px;
    margin: 15px 0 5px;
    text-align: left;
}
.project-card p {
    font-size: 14px;
    color: gray;
    margin-bottom: 15px;
    text-align: left;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex !important;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #d1d1d1;
    opacity: 0.5;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    border: 2px solid #d1d1d1;
    background: white;
}
/**/
.some {
    display: flex;
    padding: 50px;
    align-items: center;
    gap: 10%;
    margin: auto;
    max-width: 1400px;
    
}


@media (max-width: 991.20px) {
    .some {
        flex-direction: column; /* Xếp dọc */
    }
    
    .some .grid {
        order: -1; /* Đưa phần hình lên đầu */
        width: 100%; /* Chiếm toàn bộ chiều rộng */
    }

    .some .md\:w-1\/2 {
        width: 100%; /* Chiếm toàn bộ chiều rộng */
    }
}


.icon2 {
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: -20px;
    color: #605dba;
}


.vision-mission-values {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    top: 0%;
    margin: auto;
    max-width: 1400px;
    gap: 20px;
  }
  
  .item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 69%;
    display: flex;
    text-align: center;
    gap: 2%;
    flex: 1;
  }
  
  .circle {
    background-color: #d8d8d8;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;
    color: #605dba;
  }
  
  .bor {
    text-align: left;
    
  }

  .bor h3 {
    color: #333;
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .bor p {
    color: #555;
  }

  @media (max-width: 991.20px) {
    .vision-mission-values {
        flex-direction: column;    /* Đổi thành dọc */
        align-items: center;       /* Căn giữa các item */
        justify-content: center;
        margin-left: 20%;
    }

    .item {
        width: 100%;              /* Item chiếm toàn bộ chiều rộng */
    }
}


  .live {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    max-width: 1480px;
    margin: auto;
    flex-direction: column;
  }
  .section {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    order: 2; /* Đưa phần hình xuống dưới */
    
  }
  .section img {
    width: 100%;
    max-width: 500px;
  }

  .section-2 {
    order: 1; /* Đưa phần chữ lên đầu */
    
  }

  @media (min-width: 992px) {
    .live {
        flex-direction: row; /* Sắp xếp theo chiều ngang */
        align-items: center;
    }

    .section {
        order: 1; /* Hình ở bên trái */
        width: 100%;
    }

    .section-2 {
        order: 2; /* Chữ ở bên phải */
        width: 100%;
        text-align: center;
        
    }
}

  .section-2 h4 {
    color: #ff4081;
    font-size: 18px;
    font-weight: none;
    text-transform: uppercase;
  }
  .section-2 h2 {
    font-size: 30px;
    margin-top: 20px;
    color: black;
    margin-bottom: 20px;
    line-height: 1.25;
  }

  .icon-text {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 5%;
  }
  .icon-text .icon3 {
    margin-top: 10px;
    width: 40px;
    height: 40px;
  }
  .text3  h3{
    text-align: left;
    font-weight: bold;
    font-size: 20px
  }
  .text3 p {
    font-size: 15;
  }


  .community {
    background: linear-gradient(90deg, #e3e5f3, #fbe3f3);
    border-radius: 1% ;
    padding: 90px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    justify-items: center;
    max-width: 1480px;
    margin: auto;
  }

  .community a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff477e;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
    margin-top: 50px;
  }

  .community h2 {
    color: #ff477e;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
  }

  .community h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;

  }

  .btn2 {
    cursor: pointer;
    background-color: #ff477e;
  }
  .btn2:hover {
    background-color: #ff477e; 
    /*transform: scale(1.05);*/
    box-shadow: #333;
    transform: translateY(-3px);
  }

  .footer {
    display: flex;
    margin: auto;
    max-width: 3000px;
    justify-content: center;
    gap: 10%;
    margin-bottom: 5%;
    flex-wrap: wrap;
    margin-left: 5%;
  }

  .footer > div {
    
    box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng tới kích thước */
    }

  .footer-box1 {
    text-align: left;
  }
  .footer-box1 img {
    margin-bottom: 10px;
    width: 150px;
  }
  .footer-box1 h2 {
    margin-top: 20px;
    color: #666;
  }
  .footer-box1 .icon4 {
    margin-top: 20px;
  }
  .icon4 {
    gap: 10%;
    display: flex;
  }
  .icon4 a{
    
    transition: transform 0.3s ease, color 0.3s ease;
  }
  .icon4 a:hover{
    transform: translateY(-3px);
  }

 .footer-box2 h1 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .footer-box2 h2 {
    color: #666;
    margin-bottom: 15px;
  }
  .info a{
    color: #666;
  }
  .info a:hover{
    color: #605dba;
  }
  .info p{
    color: #666;
  }
  

  .footer-box3 h1 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .footer-box3 a {
    color: #666;
    margin-top: 5px;
    display: block;
  }
  .footer-box3 a:hover {
    color: #605dba;
  }
  .footer-box4 {
    order: 4;
  }
  .footer-box4 h1{
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .footer-box4 h2{
    color: #666;
    margin-bottom: 19px;
    width: 270px;
  }


  .email-container {
    display: flex;
    align-items: center;
    border: 2px solid rgb(205, 201, 201); /* Viền tím */
    border-radius: 5px;
    overflow: hidden; /* Giữ input và button không bị lệch */
    width: 290px; /* Điều chỉnh chiều rộng */
    box-shadow: #878889;
}

.email-container input {
    flex: 1; /* Input mở rộng tự động */
    padding: 10px;
    border: none;
    outline: none;
}

.email-container button {
    background: #ff477e; /* Màu tím */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;

    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.email-container button:hover {
    background: #ff477e; /* Tím đậm hơn khi hover */
    transform: scale(1.05);
}

@media (max-width: 991.20px) {
    /* Hiển thị footer-box1, footer-box2, footer-box3 ngang nhau */
    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Chia thành 3 cột bằng nhau */
    }

    /* Đảm bảo 3 box đầu ở hàng đầu */
    .footer-box1, .footer-box2, .footer-box3 {
        order: 1; /* Đưa lên trên */
    }

    /* Footer-box4 nằm dưới cùng */
    .footer-box4 {
        margin-top: 5%;
        grid-column: span 3; /* Chiếm toàn bộ hàng */
        order: 2; /* Đưa xuống dưới */
        justify-content: center;
        padding-left: 20%;
    }
    .footer-box4 h2{
        width: 500px;
    }
    .email-container {
        width: 400px;
    }

    /* Điều chỉnh chiều rộng cho mỗi box */
    .footer > div {
        width: 100%;
    }
}

/*
@media (max-width: 900px) {
    .id{
        visibility: hidden;
    }
}*/

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    color: rgb(51, 152, 230);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: none; /* Mặc định ẩn nút */
    cursor: pointer;
    
}

#scrollToTopBtn svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 0.5s ease, stroke 0.5s ease; /* Thêm hiệu ứng chuyển đổi màu */
}

#scrollToTopBtn.show-circle svg circle {
    stroke-dasharray: 159.513; /* Chu vi vòng tròn */
    stroke-dashoffset: 0; /* Vẽ đầy vòng tròn */
}




